	  <div class="navbar navbar-default navbar-fixed-top">
	  	<div class="container">
		    <a href='/' class="navbar-brand"> Dogs' Planet </a>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#">XXX</a></li>
		      <li><a href="#">YYY</a></li>
		      <li>
		      	<a href="#" data-toggle="dropdown">About <span class="caret"></span></a>
		      	<ul class="dropdown-menu">
		      		<li><a href="#">Contact Us</a></li>
		      		<li><a href="#">Blog</a></li>
		      		<li class="divider"></li>
		      		<li><a href="#">Twitter</a></li>
		      		<li><a href="#">Facebook</a></li>
		      	</ul>
		      </li>
		    </ul>
	  	</div>
	  </div>